doctype html
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1 Create you account on UpTask

            if locals.mesagges
                .alertas
                    each category in Object.keys(locals.mesagges)
                        each err in mesagges[category]
                            .alerta(class=`${category}`)
                                p= err 

            form#formulario.caja.caja-login(method="POST" action="/create-account")
                .campo
                    label(for="email") E-mail:
                    input(type="text" name="email" placeholder="Your Email" value= email )
                .campo
                    label(for="password") Password:
                    input(type="password" name="password" placeholder="Your Password" value= password )
                .campo.enviar
                    input.boton(type="submit" value="Create Account")
                .campo
                    a(href="/sing-in") Volver a iniciar sesión

        script(src="/dist/bundle.js")