doctype html
html(lang="en")
    head
        include partials/header
    body 
        header.barra
            h1 UpTask - Proyect Admin 
            a(href="#") Cerrar Sesion

        main.contenedor
            aside.contenedor-proyectos
                .panel.crear-proyecto
                    a(href="/new-proyect").boton New Proyect 
                        span + 

                .panel.lista-proyectos
                    h2 Proyects
                    ul#proyectos.proyectos
                        if(proyects.length)
                            each proyect in proyects
                                li
                                    a(href=`/proyects/${proyect.url}`)=proyect.name
            block content

        script(src="/dist/bundle.js")

            //- pre=vardump(proyects)