doctype html
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1 Login on UpTask

            if error
                p.alerta.error= error

            if locals.mesagges
                .alertas
                    each category in Object.keys(locals.mesagges)
                        each err in mesagges[category]
                            .alerta(class=`${category}`)
                                p= err 

            form#formulario.caja.caja-login(method="POST" action="/login")
                .campo
                    label(for="email") E-mail:
                    input(type="text" name="email" placeholder="Your Email" value= email )
                .campo
                    label(for="password") Password:
                    input(type="password" name="password" placeholder="Your Password" value= password )
                .campo.enviar
                    input.boton(type="submit" value="Login")
                .campo.acciones
                    a(href="/create-account") Don't have an account yet? Create one for free
                    a(href="/restore-password") Did you forget your password?

        script(src="/dist/bundle.js")