doctype html
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1 Login on UpTask

            if error
                p.alerta.error= error

            form#formulario.caja.caja-login(method="POST" action="/login")
                .campo
                    label(for="email") E-mail:
                    input(type="text" name="email" placeholder="Your Email" value= email )
                .campo
                    label(for="password") Password:
                    input(type="password" name="password" placeholder="Your Password" value= password )
                .campo.enviar
                    input.boton(type="submit" value="Login")
                .campo
                    a(href="/create-account") Don't have an account yet? Create one for free

        script(src="/dist/bundle.js")