extends layout

block content 
    .contenido-principal
        h1=pageName

        if errors 
            each error in errors
                .alerta.error=error.text

        form.agregar-proyecto(action="new-proyect" method="POST")
            .campo 
                label(for="name") Proyect Name 
                input(type="text" id="nombre" name="name" placeholder="Proyect Name")
            .campo.enviar 
                input(type="submit" value="Add" class="boton")