doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
    body
        h2 Confirm your UpTask account
        p To activate your account press the following button
        a(href=`${confirmUrl}`) Confirm account
        p If you cannot access this link, visit #{confirmUrl}